@use '../../abstracts/' as *;

.comments .comment {
	&:not(.reply)::after {
		@include pseudo-element();

		inset: 0 auto 0 0;
		background-color: $comment-side-border;
		width: 2px;
	}

	&:not(.reply):is(:target)::after {
		background-color: $comment-side-border-highlight;
	}
}
