@use '../abstracts/' as *;

@for $i from 1 through 4 {
	.column-split-#{$i} {
		column-count: #{$i};
		column-gap: 1.75em;
		column-rule: 2px solid $clr-column-split-border;
	}
}

// Hoverables
a.hoverable {
	background-color: var(--clr-background-500);
}

.hoverable:is(:focus-visible, :hover) {
	background-color: var(--clr-hover-400);
}

.hoverable:where([data-hover-variant='light']):is(:focus-visible, :hover) {
	background-color: var(--clr-hover-200);
}

// Color schemes
*:where([data-color-scheme='downvote']) {
	color: var(--clr-downvote-400);
	background-color: var(--clr-downvote-background);
}
