@use '../../abstracts' as *;

.main-navbar {
	background-color: $clr-navbar-background;

	.navbar__dropdown {
		position: fixed;
		inset: $navbar-mobile-dropdown-inset;

		max-width: min(#{$breakpoint-small}, 100%);
		margin: auto;
		z-index: 999;

		& a {
			display: inline-block;
		}
	}

	&[data-dropdown-state]::after {
		content: '';
		position: fixed;

		inset: 0;
		background-image: linear-gradient(hsl(0 0 0 / 0.5), hsl(0 0 0 / 0.88));
		height: 100vmax;

		z-index: 998;
	}
}
