$colors-dark: (
	background: (
		'300': hsl(210 6% 9%),
		'400': hsl(210 6% 13%),
		'500': hsl(210 6% 20%),
		'600': hsl(210 6% 27%)
	),
	text: (
		'400': white
	)
);

$colors-light: ();

$active-theme: $colors-dark;
