$colors-dark: (
	background: (
		'300': hsl(210 6% 4%),
		'400': hsl(210 6% 8%),
		'500': hsl(210 6% 13%),
		'600': hsl(210 6% 24%),
		'700': hsl(210 6% 30%),
		'900': hsl(210 6% 40%)
	),
	text: (
		'400': white,
		'muted': hsl(0 0% 70%),
		'light-muted': hsl(0 0% 85%)
	),
	hover: (
		'200': hsl(0 0% 50% / 0.26),
		'400': hsl(0 0% 50% / 0.5),
		'600': hsl(0 0% 50% / 0.76)
	),
	input: (
		'border': hsl(210 6% 27%),
		'border-on-hov': hsl(210 6% 47%)
	),
	upvote: (
		'300': hsl(220 97% 56%),
		'400': hsl(220 97% 62%),
		'500': hsl(220 97% 67%),
		'background': hsl(220 97% 62% / 0.3),
		'hover': hsl(220 97% 62% / 0.4)
	),
	downvote: (
		'400': hsl(2 97% 62%),
		'500': hsl(2 97% 65%),
		'background': hsl(2 97% 62% / 0.3),
		'hover': hsl(2 97% 62% / 0.4)
	),
	warn: (
		'400': hsl(60 97% 68%)
	),
	blue: (
		'400': hsl(220 97% 65%),
		'hover': hsl(220 97% 65% / 0.26)
	)
);

$colors-light: ();

$active-theme: $colors-dark;

@each $keyName, $key in $active-theme {
	@each $valKey, $val in $key {
		.clr-#{$keyName}-#{$valKey} {
			color: $val;
		}
	}
}
