$colors-dark: (
	background: (
		'300': hsl(210 6% 7%),
		'400': hsl(210 6% 11%),
		'500': hsl(210 6% 16%),
		'600': hsl(210 6% 27%),
		'700': hsl(210 6% 34%)
	),
	text: (
		'400': white
	),
	hover: (
		'400': hsl(0 0% 50% / 0.5)
	),
	input: (
		'border': hsl(210 6% 27%),
		'border-on-hov': hsl(210 6% 47%)
	)
);

$colors-light: ();

$active-theme: $colors-dark;
