@use './_colors.scss' as *;

// Root colors
$clr-body: var(--clr-background-300);

// Containers
$main-container-width: 1310px;
$main-container-padding: 1rem;

// =================
// Utilities
// =================
$border-radius-cubed: 9px;

// =================
// Components
// =================
// Navbar
$clr-navbar-background: var(--clr-background-500);

$navbar-mobile-dropdown-inset: 30% 4rem auto;

// Input
$def-input-padding: 0.5em 0.75em;
$def-input-background-color: var(--clr-background-400);
$def-input-border: 1px solid var(--clr-input-border);
$def-input-border-radius: 4px;
$def-input-border-color-on-hov: var(--clr-input-border-on-hov);

$input-primary-padding: 0.5em 0.75em;
$input-primary-background-color: var(--clr-background-600);
$input-primary-border: 1px solid var(--clr-input-border);
$input-primary-border-radius: 4px;
$input-primary-border-color-on-hov: var(--clr-input-border-on-hov);

$input-textarea-height: 4ch;

// Button
$def-button-font-size: var(--fs-350);
$def-button-padding: 0.25em 0.5em;
$def-button-background-color: var(--clr-hover-200);
$def-button-border-radius: $border-radius-cubed;
$def-button-background-color-on-hov: var(--clr-hover-600);

$button-action-color: var(--clr-text-muted);
$button-action-color-on-hov: var(--clr-text-400);

$button-upvote-color: var(--clr-upvote-400);
$button-upvote-background-color: var(--clr-upvote-background);
$button-upvote-background-color-on-hov: var(--clr-upvote-hover);

$button-downvote-color: var(--clr-downvote-400);
$button-downvote-background-color: var(--clr-downvote-background);
$button-downvote-background-color-on-hov: var(--clr-downvote-hover);

$button-primary-padding: 0.5em 0.75em;
$button-primary-background-color: var(--clr-upvote-300);
$button-primary-background-color-on-hov: var(--clr-upvote-400);

$button-primary-difference-background-color: var(--clr-upvote-background);
$button-primary-difference-background-color-on-hov: var(--clr-upvote-400);
$button-primary-difference-border: 2px solid var(--clr-upvote-300);

$button-join-font-size: var(--fs-300);

// Card
$def-card-background-color: var(--clr-background-600);
$def-card-border-radius: $border-radius-cubed;

$card-difference-background-color: var(--clr-background-400);
$card-difference-border: 1px solid var(--clr-background-600);

// Profile
$def-profile-clamp-width: 2.25em;
$def-profile-img-background-color: var(--clr-background-700);

// Home
$feed-grid-column-template: 65% 35%;
$feed-gap: 2em;

$posts-grid-row-auto: 300px;
$post-media-width: 1024px;

// Create
$create-image-preview-width: 128px;

// Feed
$post-text-max-width: 90ch;

// =================
// Composition
// =================
$clr-column-split-border: var(--clr-hover-400);
