@use './_colors.scss' as *;

// Root colors
$clr-body: var(--clr-background-300);

// Navbar

// Containers
$size-main-container: var(--size-container-main);

// Border radiuses
$border-radius-cubed: 8px;
