@use '../../abstracts/' as *;
@use '../mixins' as *;

.card {
	@include createCard();
}

.card[data-variant='difference'] {
	background-color: var(--clr-background-400);
	border: 1px solid var(--clr-background-600);
}

.card[data-variant='dark'] {
	background-color: var(--clr-background-500);
}
