@use '../../abstracts/' as *;

.dropdown {
	.dropdown__items {
		top: $dropdown-items-top;
		left: $dropdown-items-left-offset;
	}

	.dropdown__item[data-variant='inline'] > * {
		display: inline-block;
		padding: $dropdown-item-padding;
		width: 100%;
	}
}
