@use '../../abstracts/' as *;
@use '../mixins' as *;

.button:where([data-variant='default']) {
	@include createButton();
}

.button:where([data-variant='action']) {
	@include createButton($color: $button-action-color, $color-on-hov: $button-action-color-on-hov);
}

.button:where([data-variant='primary']) {
	@include createButton(
		$background-color: $button-primary-background-color,
		$background-color-on-hov: $button-primary-background-color-on-hov,
		$padding: $button-primary-padding
	);
}

.button:where([data-variant='primary-difference']) {
	@include createButton(
		$background-color: $button-primary-difference-background-color,
		$border: $button-primary-difference-border,
		$background-color-on-hov: $button-primary-difference-background-color-on-hov,
		$padding: $button-primary-padding
	);
}

.button:where([data-variant='action-difference']) {
	@include createButton(
		$color: $button-action-color,
		$color-on-hov: $button-action-color-on-hov,
		$background-color: var(--clr-background-600),
		$background-color-on-hov: var(--clr-background-700)
	);
}

// ========================
// Secondary Variants
// =========================
.button:is([data-secondary-variant='upvote']) {
	@include createButton(
		$background-color: $button-upvote-background-color,
		$color: $button-upvote-color,
		$color-on-hov: $button-upvote-color,
		$background-color-on-hov: $button-upvote-background-color-on-hov
	);
}

.button:is([data-secondary-variant='downvote']) {
	@include createButton(
		$background-color: $button-downvote-background-color,
		$color: $button-downvote-color,
		$color-on-hov: $button-downvote-color,
		$background-color-on-hov: $button-downvote-background-color-on-hov
	);
}
