@use '../../abstracts/' as *;
@use '../mixins' as *;

.input:where([data-variant='default']) {
	@include createInput();
}

.input:where([data-variant='primary']) {
	@include createInput(
		$background-color: var(--clr-background-300),
		$border: 1px solid var(--clr-background-900)
	);
}

.input:where([data-variant='media-image']) {
	@include createInput(
		$background-color: var(--clr-background-300),
		$border: 2px dashed var(--clr-background-600)
	);

	aspect-ratio: 1;
}

.input:is([data-input-type='textarea']) {
	@include createInput();

	resize: vertical;
	min-width: 100%;
	min-height: $input-textarea-height;
	white-space: pre-wrap;
}
