@use '../../abstracts/' as *;
@use '../mixins' as *;

.input:where([data-variant='default']) {
	@include createInput();
}

.input:is([data-variant='primary']) {
	@include createInput(
		$background-color: var(--clr-background-300),
		$border: 1px solid var(--clr-background-900)
	);
}

.input:where([data-variant='media-image']) {
	@include createInput(
		$background-color: var(--clr-background-300),
		$border: 2px dashed var(--clr-background-600)
	);

	aspect-ratio: 1;
}

.input:where([data-secondary-variant='image-banner']) {
	width: 100%;

	height: $image-banner-width;
	max-height: $image-banner-width;

	aspect-ratio: 16 / 9;
}

.input:where([data-variant='media-video']) {
	@include createInput(
		$background-color: var(--clr-background-300),
		$border: 2px dashed var(--clr-background-600)
	);

	width: 100%;
	aspect-ratio: 16 / 9;
}

.input:where([data-input-type='textarea']) {
	@include createInput();

	resize: vertical;
	min-width: 100%;
	min-height: $input-textarea-height;
	white-space: pre-wrap;
}

// ===========
// Misc
// ===========
.input:is([data-error-state='true']) {
	border: 1px solid var(--clr-downvote-500);
}
